# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# allow
!/.gitignore
!LICENSE

!Makefile

# Go
!*.go
!go.sum
!go.mod
!go.work
!go.work.sum
!*.gohtml

# protobuf
!*.proto

!*.md
!*.html
!autopreview.sh

# ...even if they are in subdirectories
!*/

# always ignore
exp/

