# Allowlisting gitignore template for GO projects prevents us
# from adding various unwanted local files, such as generated
# files, developer configurations or IDE-specific files etc.
#
# Recommended: Go.AllowList.gitignore

# Ignore everything
*

# allow
!/.gitignore
!LICENSE
!README.md
!Makefile

# Go
!gocli/**
!dcls/**
!genart/**
!*.go
!go.sum
!go.mod
!go.work
!go.work.sum
!*.gohtml

# protobuf
!*.proto

# one document directory to unite them all
!docs/**/!*.md

# The Recursive Book of Recursion
!trbor/**

# ...even if they are in subdirectories
!*/

# always ignore
exp/
venv/
.env
.venv

